.container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Toma todo el espacio asignado por el contenedor padre */
  margin: 0;
  padding: 0;
}

.breadcrumb-container {
  height: 50px; /* Altura fija para el breadcrumb */
}

.content-container {
  flex: 1; /* Ocupa el espacio restante */
  overflow: auto;
}

.footer-container {
  height: 50px; /* Altura fija para el footer */
}
