<!-- page-container.component.html -->
<div class="container">
  <!-- Breadcrumb -->
  <div class="breadcrumb-container">
    <app-breadcrumb *ngIf="isLoggedIn" [exerciseName]="selectedExercise"></app-breadcrumb>
  </div>
  
  <!-- Contenido principal -->
  <div class="content-container">
    <app-content 
         [exerciseName]="selectedExercise" 
         [isLoggedIn]="isLoggedIn"
         (login)="onLogin()">
    </app-content>
  </div>
  
  <!-- Footer -->
  <div class="footer-container">
    <app-footer></app-footer>
  </div>
</div>
