:host {
  display: block;
  height: 100%;
}

/* Contenedor para el login: ocupa todo el espacio disponible y centra el contenido */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  background-color: red;
}
