<!-- Si se ha hecho logout, se muestra el botón Login centrado -->
<div *ngIf="!isLoggedIn" class="login-container">
  <button (click)="loginClick()">Login</button>
</div>

<!-- Si está logueado, se muestra el contenido de ejercicios -->
<div *ngIf="isLoggedIn">
  <div *ngIf="exerciseName === 'Ejercicio 01'">
    <app-ejercicio-01></app-ejercicio-01>
  </div>
  <div *ngIf="exerciseName === 'Ejercicio 02'">
    <app-ejercicio-02></app-ejercicio-02>
  </div>
  <div *ngIf="exerciseName === 'Ejercicio 03'">
    <app-ejercicio-03></app-ejercicio-03>
  </div>
  <div *ngIf="exerciseName === 'Ejercicio 04'">
    <app-ejercicio-04></app-ejercicio-04>
  </div>
  <div *ngIf="exerciseName === 'Ejercicio 05'">
    <app-ejercicio-05></app-ejercicio-05>
  </div>
  <div *ngIf="exerciseName === 'Ejercicio 06'">
    <app-ejercicio-06></app-ejercicio-06>
  </div>
  <div *ngIf="!exerciseName">
    <p>Selecciona un ejercicio en la barra lateral.</p>
  </div>
  <div *ngIf="exerciseName === 'Ejercicio 07'">
    <app-ejercicio-07></app-ejercicio-07>
  </div>
  <div *ngIf="exerciseName === 'Ejercicio 08'">
    <app-ejercicio-08 [name]="'Jonathan'"></app-ejercicio-08>
  </div>
  <div *ngIf="exerciseName === 'Ejercicio 09'">
    <app-ejercicio-09 (itemAdded)="onItemAdded()"></app-ejercicio-09>
    <p>Items added: {{ itemCount }}</p>
  </div>
  <div *ngIf="exerciseName === 'Ejercicio 10'">
    <app-ejercicio-10></app-ejercicio-10>
  </div>
  <div *ngIf="exerciseName === 'Ejercicio 11'">
    <app-ejercicio-11></app-ejercicio-11>
  </div>  
</div>
