/* content.component.css */
:host {
  display: block;
  height: 100%;
}

/* Contenedor para el login, centrado vertical y horizontalmente */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
