.container {
    display: flex;
    height: 100vh; /* Altura total de la ventana */
    margin: 0;
    padding: 0;
  }
  
  /* Sidebar ocupa el 15% del ancho */
  .container app-sidebar {
    flex: 0 0 15%;
  }
  
  /* Page-container ocupa el 85% del ancho */
  .container app-page-container {
    flex: 0 0 85%;
  }
  