.container {
  display: flex;
  height: calc(100vh - 50px); /* Resta la altura del navbar */
  transition: all 0.3s ease;
}

.container app-sidebar {
  flex: 0 0 15%;
  transition: all 0.3s ease;
}

.container app-page-container {
  flex: 0 0 85%;
  transition: all 0.3s ease;
}

.sidebar-collapsed app-sidebar {
  display: none;
}

.sidebar-collapsed app-page-container {
  flex: 0 0 100%;
}
